<div class="container">
  <h1>Cart Contents</h1>
  {{#each shoppingCart.items as |item|}}
  <li>{{item.productName}} --- {{item.price}}</li>
  {{/each}}
</div>
<div class="container">
  <h1>${{totalPrice}}</h1>
</div>
