<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">
        {{#link-to 'index'}}Design-Commerce{{/link-to}}
      </div>
    </div>
      <ul class="nav">
        <li class="pull-right">{{#link-to 'about'}}About Us{{/link-to}}</li>
        <li class="pull-right">{{#link-to 'pricing'}}Pricing{{/link-to}}</li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>
{{outlet}}
