<div class="jumbotron">
  <div class="heading">
    <h2>Logo Design Made Simple</h2>
    <h4>Instant Custom-Made Logos:</h4>
    <button class="btn btn-success btn-heading">{{#link-to 'pricing'}}Checkout Products{{/link-to}}</button>
  </div>
</div>
<div class="content">
  <div class="content-text pull-left">
    <h3>Use Your Own Logo</h3>
    <h5>Already have a logo you love? Not a problem! Our algorithm will help you create a brand around the logo you have now.</h5>
  </div>
  <img class="content-image pull-right" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/e1f9c310780883.560eade1ebc61.jpg">
  <img class="logo-image pull-left" src="http://www.luxurydaily.com/wp-content/uploads/2013/01/LuxeBox.jpg">
  <div class="logo-text pull-right">
    <h3>Beautiful Logo Designs</h3>
    <h5>Whether this is the first logo you’ve created, or just the first time you're using our logo creator, we’ll make sure that your brand sticks out from the rest of the pack.</h5>
  </div>
</div>
