{{#each model.bundles as |bundle|}}
  {{bundle-tile updateBundle="updateBundle" deleteBundle="deleteBundle" bundle=bundle}}
{{/each}}
<div class="container">
  {{new-bundle saveBundle="saveBundle"}}
</div>
{{display-cart}}
